<div class="container">
  <h2>Photos from <%= @event.name %></h2>
  <%= link_to "Back to events", events_url %>
</div>

<div id="photos" class="container">
  <%- @photos.each do |photo| %>
    <a href="<%= photo_url(photo) %>"><img src="<%= photo.thumb_url %>"/></a>
  <%- end %>
  <%= link_to "Edit #{@event.name}", edit_event_url(@event) %>
</div>


<%= content_for :script do %>
<script type="text/javascript">
$(document).ready(function() {
    $('#photos img').load(function(){
    $(this).addClass('loaded')
  })
});
</script>

<% end %>
